/vendor
/node_modules
composer.lock
package-lock.json
.phpunit.cache
.phpunit.result.cache
/coverage
.env
.DS_Store
/workbench/bootstrap/cache/*
!/workbench/bootstrap/cache/.gitkeep
/workbench/storage/framework/cache/data/*
/workbench/storage/framework/sessions/*
/workbench/storage/framework/views/*
/workbench/storage/logs/*
/workbench/database/database.sqlite
